.events {
  width: 100%;
  min-width: 930px;


  h1 {
    margin-top: 50px;
    text-align: center;
  }

  .switchContainer {
    padding: 10px;
    margin: 0 0 10px 10px;

    .switchText {
      font-size: 16px;
      margin-right: 10px;
    }
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    min-width: 300px;

    &__item {
     padding: 3px;
      &-active {
        margin: 0;
        cursor: pointer;

        &:hover {
          border-radius: 10%;
          background-color: #fafbfc;
        }
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #adadad;
      border-top: 1px solid #adadad;
      background: #fafbfc;
      font-weight: bold;
      padding: .625rem;
    }

    &__row {
      border-bottom: 1px solid #adadad;
      padding: .35rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      overflow: auto;
    }

    &__btn-primary {
      margin-top: 10px;
    }

    &__btn-delete {
      &:hover {
        border-color: red;
        color: red
      }
    }

    svg {
      margin-bottom: 5px;
    }
  }
}