.events {
  display: grid;
  grid-template-areas: "ce le de";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr 25% 1fr;
  grid-gap: 10px;
  margin: 0;

  h2 {
    text-align: center;
  }

  .createEvents, .listEvents, .calendarEvents {
    padding: 10px;
    margin: 2px;
  }

  .createEvents {
    grid-area: ce;
  }

  .listEvents {
    grid-area: le;
  }

  .calendarEvents {
    grid-area: de;
  }
}