.EventsCreator {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  max-width: 1024px;

  .testContainer {
    margin: 10px 0;
    text-align: center;
    display: flex;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dadada;
    outline: none;
    border-radius: 5px;

    justify-content: space-around;

    &:hover {
      border-radius: 10%;
      background-color: #fafbfc;
      cursor: pointer;
    }
  }

.container-btn
  ol li {
    color: #adadad;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: #005baa;
      border-bottom: 4px solid #005baa;
    }
  }

  h1 {
    text-align: center;
  }

  .container-btn {
    text-align: right;
    button {
      margin-top: 10px;
    }
  }

  label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
    margin-right: 10px;
  }

  .quizInfoElementContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;

    .quizInfo {
      overflow-y: auto;
      max-height: 500px;
      width: 300px;

      div {
        width: 200px;
      }
    }
  }
}