.Events {
  display: grid;
  grid-gap: 1em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0;
  padding: 30px;

  ol li {
    color: #adadad;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: #005baa;
      border-bottom: 4px solid #005baa;
    }
  }

  h1 {
    text-align: center;
  }

  .container-btn {
    text-align: right;
    button {
      margin-top: 10px;
    }
  }

  label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
    margin-right: 10px;
  }

  .quizInfoElementContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;

    .quizInfo {
      overflow-y: auto;
      max-height: 500px;
      width: 300px;

      div {
        width: 200px;
      }
    }
  }
}