.qrcodeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

  .qrcodeForm {
    display: flex;
    align-items: center;
    flex-direction: column;

    .formItem {
      margin-top: 20px;

      textarea {
        font-size: 18px;
      }
    }
  }
}