header {
  background-color: #005baa;
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  flex: 0 0 auto;

  .headerContainerMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    color: #fff;
  }

  .headerLink {
    color: #fff;

    &:focus {
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: 2px solid #1890ff;
    }

    &:hover {
      color: #dadada;
    }
  }

  h1 {
    font-size: 24px;
    margin: 5px 40px 10px 10px;
    font-family: "PT Sans", "Verdana", sans-serif;
    font-weight: bold;
  }

  .headerLogin {
    margin-right: 12px;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .headerItem {
      margin: 5px 12px;
    }
  }

  svg {
    margin-bottom: 6px;
  }
}