.QuizContainer {
  display: flex;
  flex-wrap: wrap;
}

.QuizCreator {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-grow: 1;

  > div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  form {
    padding: 15px;
  }

  .block {
    min-width: 450px;
    padding: 20px;
  }

  .containerCreateTitle {
    text-align: right;
  }

  .container-btn {
    display: flex;
    justify-content: space-between;
  }
}

