.Input {
    margin-bottom: 15px;
}

.Input label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
    margin-right: 10px;
}

.Input input {
    display: block;
    padding: 5px;
    margin: 0 0 5px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #dadada;
    outline: none;
    transition: all 300ms ease-in-out;
    border-radius: 7px;
    font-size: 16px;
}

.Input input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.Input span {
    color: #ff0011;
    font-size: 14px;
    font-weight: bold;
}

